@import url('https://fonts.googleapis.com/css?family=Roboto');

*{margin:0; padding:0; outline:0;}
body{
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	line-height:18px;
	color:black;
	background:url(images/bgpattern.jpg)repeat fixed #fff;  
		
					/** -- fixed/ scroll--**/
}
.tamplate {
	width:960px;
	margin:0 auto;
}
.clear{
	overflow:hidden;
}





.headersection{
	background-color:#b7801c;
	color:#fff;
}
.logo{
	width:430px;
	float:left;
}
.logo img{
	width:80px;
	float:left;
	margin-left:15px;
	margin-bottom:10px;
	padding-top:10px;
}
.logo h2{
	font-size:32px;
	margin-bottom:10px;
	padding-left:20px;
	padding-top:24px;
	color:#fff;
	text-shadow:2px 2px 0 #666;
}
.logo p{}

.social{
	width:255px;
	float:right;

}
.social img{	
	padding-top:20px;
	margin-left:10px;
}




.navsection{
	background-color:#e6af4b;
}
.navsection ul{
	margin:0;padding:0;
	list-style:none;
}
.navsection ul li{
	display:block;
	float:left;
}
.navsection ul li a{
	color:#fff;
	background-color:#c48d29;
	display:block;
	font-size:17px;
	font-weight:bold;
	margin:5px;
	padding:5px 20px; 
	text-decoration:none;
	border:1px solid #b7801c;
}
#active{
	background-color:#fef4e5;
	color:#333;
}
.navsection ul li a:hover{
	background-color:#fef4e5;
	color:#333;
}



.slidersection{
	margin-bottom:2px;
	box-shadow:0px 5px 9px -3px #333;
}


.contentsection{
	background-color:white;
}
.maincontent{
	width:628px;
	background-color:#fef4e5;
	float:left;
	margin:0px 15px 15px 0px;
	padding:8px 20px;
	border:1px solid gray;
}

.samepost h2{
	border-bottom:1px solid #ac5511;
	color:#AC5501;
	font-size:24px;
	margin-bottom:10px;
	padding:10px;
}
.samepost img{
	float:left;
	width:200px;
	margin-right:10px;
	background-color:#fff;
	border:1px solid #9b999a;
	padding:5px;
}
.samepost p{
	font-size:16px;
	line-height:23px;
	text-align:justify;
}
.readmore{
	float:right;
	margin-top:10px;
}
.readmore a{
	text-decoration:none;
	background-color:#fff;
	border:1px solid #9b999a;
	border-radius:3px;
	color:#b7801c;
	display:block;
	font-size:17px;
	padding:4px 8px;
	text-decoration:none;
}
.readmore a:hover{
	color:#0a4898;
}







/**----- Another Page ----**/


.about{}
.about h2{
	margin-top:20px;
	margin-left:10px;
	color:#B7801C;
}
.about img{
	width:400px;
	margin:10px 10px;
	float:left;
}
.about p{
	font-size:16px;
	line-height:22px;
	text-align:justify;
	margin-bottom:10px;
}

.contact{}
.contact h2{
	margin:20px 0px;
	color:#B7801C;
}
.contact input[type="text"], input[type="email"]{
	width:300px;
	padding:7px;
	margin-bottom:5px;
	border-radius:3px;
	border:1px solid #B7801C;
}
.contact textarea{
	width:310px;
	height:140px;
	margin-top:5px;
	border-radius:3px;
	border:1px solid #B7801C;
}
.contact input[type="submit"]{
	background-color:#B7801C;
	border:1px solid #B7801C;
	padding:5px 10px;
	font-size:16px;
	color:white;
	cursor:pointer;
}
.contact input[type="submit"]:hover{
	background-color:orange;
}


.relatedpost{}
.relatedpost h2{
	margin-top:20px;
	color:#B7801C;
}
.relatedpost img{
	width:170px;
	margin-top:8px;
	margin-right:5px;
	padding:4px;
	background-color:white;
	border:1px solid gray;
}
.relatedpost img:hover{
	opacity:0.7;
}


/**----- ---------- ----**/











.sidebar{
	width:253px;
	float:right;
	background-color:#FEF4E5;
	padding:10px;
	border:1px solid gray;
}
.samesidebar {margin-bottom:10px;}
.samesidebar h2{
	background-color:#e6af4b;
	color:white;
	padding:10px;
	margin-bottom:8px;
	border-bottom:2px solid #555555;;
}
.samesidebar ul{
	margin:0;padding:0;
	list-style:none;
}
.samesidebar ul li{	
	padding:5px 8px;
	border-bottom:1px solid #f9deae;
}
.samesidebar ul li:last-child{
	border-bottom:0px;}
.samesidebar ul li a{
	text-decoration:none;
	font-size:16px;
	color:#814a00;
}
.samesidebar ul li a:hover{
	color:#B7801C;
}
.samesidebar p{
	font-size:16px;
	line-height:23px;
}


.popular{}

.popular h3{
	border-bottom:1px dashed #df5c25;
	font-size:18px;
	font-weight:normal;
	margin-bottom:10px;
	padding-bottom:5px;
}
.popular h3 a{text-decoration:none;}
.popular img{
	width:60px;
	height:40px;
	float:left;
	margin-right:5px;
	padding:3px;
	background-color:white;
	border:1px solid gray;
	border-radius:5px;
}
.popular p{
	line-height:18px;
	text-align:justify;
	margin-bottom:25px;
}




.footersection{
	height:90px;
	background-color:#b7801c;
}
.footersection p{text-align:center;}

.footermenu{
	margin-top:20px;
	margin-bottom:3px;
}
.footermenu ul{
	padding:0;margin:0;
	list-style:none;
	text-align:center;
}
.footermenu ul li{
	display:inline-block;
}
.footermenu ul li a{
	font-size:16px;
	margin-right:5px;
}








